.vs/
packages/
Meeting1.LearnBasicDataTypesAndConstructions/obj/
Meeting1.LearnBasicDataTypesAndConstructions/bin/
Meeting2.LearnOop/obj/
Meeting2.LearnOop/bin/
Meeting3.AdvancedProgrammingPart1/obj/
Meeting3.AdvancedProgrammingPart1/bin/
Meeting4.AdvancedProgrammingPart2/obj/
Meeting4.AdvancedProgrammingPart2/bin/
/Meeting5.IntroductionToAutomatedTesting/obj
/Meeting5.IntroductionToAutomatedTesting/bin
/Meeting6.ExploreE2eTestWithSeleniumWd/bin
/Meeting6.ExploreE2eTestWithSeleniumWd/obj
